@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-rainbow-border {
  animation: rainbow-border 3s ease infinite;
  background-size: 200% 100%;
}